<html xmlns="http://www.w3.org/1999/xhtml" ng-app="productRegist">
    <head>
        <title>로컬푸드 재고관리시스템</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 부트스트랩 -->
        <link href="./css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="./css/css.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
        <script src="http://54.64.220.92:8000/socket.io/socket.io.js"></script>
        <script src="js/bootstrap.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#m1").show();
                $("#arrow1").show();
                $("#menu1").mouseover(function(){
                    $("#m1").show();
                    $("#m2").hide();
                    $("#arrow1").show();
                    $("#arrow2").hide();
                    $("#arrow3").hide();
                });
                $("#menu2").mouseover(function(){
                    $("#m2").show();
                    $("#m1").hide();
                    $("#arrow2").show();
                    $("#arrow1").hide();
                    $("#arrow3").hide();
                });
                $("#menu3").mouseover(function(){
                    $("#arrow3").show();
                    $("#arrow1").hide();
                    $("#arrow2").hide();
                });
            });

            // socket.io 모듈 생성
            var app = angular.module('productRegist', []);
            app.factory('socket', function($rootScope) {
                var socket = io .connect('http://54.64.220.92:8000');
                return {
                    on: function(eventName , callback) {
                        socket.on(eventName, function() {
                            var args = arguments;
                            $rootScope.$apply(function() {
                                callback.apply(socket, args);
                            });
                        });
                    },
                    emit: function(eventName, data, callback) {
                        socket.emit(eventName, data, function() {
                            var args = arguments;
                            $rootScope.$apply(function() {
                                if (callback) {
                                    callback.apply(socket, args);
                                }
                            });
                        })
                    }
                };
            });

            // Controller
            function productRegistController($scope, socket) {
                // 알람 처리(공통)
                socket.on('ResponseAlarms', function(data) {
                    //var alarms = JSON.parse(data);
                    $scope.alarms = data;
                });
                socket.emit('RequestAlarm');

                $scope.bigCategory = {
                    index: 0,
                    array: []
                };
                $scope.middleCategory = {
                    index: 0,
                    array: []
                }
                $scope.supplierID = "";
                $scope.itemName = "";

                $scope.BigCategoryChange = function(index) {
                    $scope.bigCategory.index = index;
                    $scope.middleCategory.index = 0;

                    // 중분류 요청
                    socket.emit('RequestMiddleCategory', $scope.bigCategory.array[$scope.bigCategory.index].code);
                    socket.on('ResponseMiddleCategory', function(result) {
                        var data = JSON.parse(result);
                        $scope.middleCategory.array = data.category;
                    });
                }

                $scope.MiddleCategoryChange = function(index) {
                    $scope.middleCategory.index = index;
                }

                $scope.ProductReg = function($event) {
                    socket.emit('RequestProductRegist',
                            {
                                supplier: $scope.supplierID,
                                bigCategoryCode: $scope.bigCategory.array[$scope.bigCategory.index].code,
                                middleCategoryCode: $scope.middleCategory.array[$scope.middleCategory.index].code,
                                itemName: $scope.itemName
                            });
                }

                // 대분류 요청
                socket.emit('RequestBigCategory');
                socket.on('ResponseBigCategory', function(result) {
                    var data = JSON.parse(result);
                    $scope.bigCategory.array = data.category;

                    // 중분류 요청
                    socket.emit('RequestMiddleCategory', $scope.bigCategory.array[$scope.bigCategory.index].code);
                    socket.on('ResponseMiddleCategory', function(result) {
                        var data = JSON.parse(result);
                        $scope.middleCategory.array = data.category;
                    });
                });
            }
        </script>
    </head>
    <body ng-controller="productRegistController">
        <!-- Bootstrap core JavaScript
        ================================================== -->

        <div id="wrap">
            <div class="localfood-header">
                <div class="localfood-header-top">
                    <div class="localfood-header-user">
                        <ul>
                        <li>매장관리자</li>
                        <li>공급자</li>
                        </ul>
                    </div>
                </div>

                <div class="localfood-header-bottom">
                    <div class="localfood-header-title">
                            로컬푸드 재고관리 시스템
                    </div>
                    <div class="localfood-header-gnb">
                            <ul>
                            <li id="menu1"><a href="#">상품관리</a>
                            <div class="arrow-up" id="arrow1" hidden></div></li>
                            <li id="menu2"><a href="#" id="menu2">공급자관리</a> <div class="arrow-up" id="arrow2" hidden></div></li>
                            <li id="menu3"><a href="table.html" target="container">매대관리</a> <div class="arrow-up" id="arrow3" hidden></div></li>
                            </ul>
                    </div>


                 <ul class="navbar-nav navbar-right localfood-header-iconM">
                    <li>

                      <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"><span class="badge pull-right localfood_badge">{{ alarms.length }}</span></span></a>
                      <ul class="dropdown-menu btn-none localfood_alarm localfood_rightpop" role="menu" aria-labelledby="drop2">
                        <li class="localfood_alarm_title">
                        입고알림</li>
                          <li class="localfood_alarm_contents" ng-repeat="alarm in alarms">
                              <span class="bold">{{ alarm.Supplier_Nm }}</span>로부터 <span class="bold">{{ alarm.Item_Nm }}</span> 상품이 입고대기 중 입니다. </br> <span class="date">{{ alarm.Date_ }}</span><span class="quantity">물량 : <span class="colored">{{ alarm.Supply }}</span></span><button type="button" class="localfood_alarm_btn">확인</button>
                          </li>
                      </ul>

                    </li>
                    <li>
                      <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>

                      <ul class="dropdown-menu btn-none localfood_rightpop" role="menu" aria-labelledby="drop3">
                        <li class="localfood_myinfo">이름 : 김성후</br>id : develup4</li>
                        <li class="localfood_myinfo localfood_btnarea">            <button type="button" class="btn btn-default inside-btn myinfo">로그아웃</button></li>
                      </ul>

                    </li>
                  </ul>


            </div>
        </div>

        <div class="localfood_menu" id="m1" hidden>
        <span><a href="product_reg.html"><img src="imgs/m11.jpg"></br>상품등록</a></span>
        <span><a href="product_view.html"><img src="imgs/m12.jpg"></br>상품조회</a></span>
        <span><a href="input_list.html"><img src="imgs/m13.jpg"></br>입고조회</a></span>
        </div>
        <div class="localfood_menu" id="m2" hidden>
        <span><a href="supplier_reg.html"><img src="imgs/m21.jpg"></br>공급자등록</a></span>
        <span><a href="supplier_view.html"><img src="imgs/m22.jpg"></br>공급자조회</a></span>
        </div>

        <!--**********************header end************************ -->

        <div class="localfood_container_title">
            <h2>상품등록</h2>
        </div>
        <div class = "localfood_container_form">
            <form role="form">
              <div class="form-group">
                <div class = "have-btn">
                    <input ng-model="supplierID" class="form-control input-lg bottom-space" placeholder="공급자 ID" />
                    <button type="button" class="btn btn-default inside inside-btn" data-dismiss="modal">조회</button>
                </div>
              </div>
                <div class="form-group">
                    <select class="form-control input-lg">
                        <option ng-repeat="category in bigCategory.array" ng-click="BigCategoryChange($index)">{{ category.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control input-lg">
                        <option ng-repeat="category in middleCategory.array" ng-click="MiddleCategoryChange($index)">{{ category.name }}</option>
                    </select>
                </div>
              <div class="form-group">
                <input ng-model="itemName" class="form-control input-lg bottom-space" placeholder="상품명" />
              </div>
              <button type="submit" ng-click="ProductReg($event)" class="btn btn btn-primary btn-lg btn-block localfood-btn">상품등록</button>
            </form>
        </div>
    </body>
</html>
