@charset "utf-8";
/* CSS Document */

@font-face{
font-family:ok;
src:url('../fonts/SeoulNamsanL.eot');
src:local(※), 
	url('../fonts/SeoulNamsanL.woff') format('woff');
}


*, body { font-family: ok, sans-serif; }
body { margin-bottom: 30px; }
h1 {
	font-weight: 300;
	font-size: 60px;
	line-height: normal;
	margin: auto;
	margin-top: 110px;
	text-align: center;
	color:#FFF;
}
.localfood-bg-image-1 {
	background-color: rgb(76,76,76);
	background-image: url(../imgs/bg.png);	
	background-size: cover;
}

.localfood-form-group-login{
	position:relative;
	width:400px;
	margin:30px auto;
}
.localfood-form-group-btn-login{
	position:absolute;
	top:0px;
	right:30px;
}
.btn-login{
	width:95px;
	height:95px;
	background-color:#00d2ff;
	font-family:ok;
	font-size:24px;
	font-weight:bold;
}
.btn-color-sblue{
	background-color:#00d2ff;
	border-color:#00bae2;
}
.bottom-space{
	margin-bottom:5px;
}
.localfood-modal-header{
	background-color:#edf1f4;
	border-radius:6px 6px 0 0;
	font-family:ok;
}
.localfood-modal-width{
	width:430px;	
}
.have-btn{
	position:relative;	
}
.inside-btn{
	color:#797979;
	background-color:#fff;
	border-color:#edf1f4;
	font-family:ok;
	padding-left:20px;
	padding-right:20px;
}
.inside{
	position:absolute;
	right:10px;
	top:5px;
}
.modal-txt{
	text-align:left;
	color:#797979;
}
.modal-link{
	padding-top:20px;
	padding-bottom:5px;
	text-align:center;
}
.modal-link-txt{
	color:#888888;
	text-decoration:underline;
}
.modal-link-txt:active{
	color:#888888;
	text-decoration:underline;
}
.modal-img-link{
	margin:30px auto;
}
.btn-img{
	margin:0px;
	padding:0px;
	border:0px;	
}
.localfood-header{
	
}
.localfood-header-top{
	height:50px;
	text-align:center;
}
.localfood-header-user{
	display:inline;
	margin:auto auto;
	position:relative;
	line-height:50px;
	background-color:#0F0;
}
.localfood-header-user ul{
	list-style:none;
	color:#4c4c4c;	
	
}
.localfood-header-user li{
	display:inline-block;
	padding-left:25px;
	padding-right:25px;	
	font-size:18px;	
}
.localfood-header-user li:nth-child(1){
	background-color:#4c4c4c;
	color:#FFF;
}
.localfood-header-bottom{
	height:60px;
	background-color:#4c4c4c;
	text-align:center;
	position:relative;
}
.localfood-header-title{
	color:#FFF;	
	font-family:ok;
	position:absolute;
	left:20px;
	display:inline;
	line-height:60px;
	font-size:18px;
}
.localfood-header-gnb{
	background-color:#0F0;	
	display:inline;
	margin:auto auto;
	position:relative;
	line-height:60px;
	height:60px;
	background-color:#0F0;
	
}
.localfood-header-gnb ul{
	list-style:none;
}
.localfood-header-gnb li{
	display:inline-block;
	padding-left:25px;
	padding-right:25px;	
	color:#FFF;
	font-size:16px;
	position:relative;
}
.localfood-header-gnb li a{
	text-decoration:none;
	color:#FFF;
}
.localfood-header-iconM{
	color:#FFF;	
	top:20px;
	float:right;
	font-family:ok;
	position:absolute;
	display:inline;
	right:20px;
	line-height:60px;
	font-size:18px;
	z-index:1000;
}
.localfood-header-iconM a{
	color:#FFF;
}
.localfood-header-iconM a:hover{
	color:#888;
}
.localfood-header-iconM span{
	padding-left:5px;
}
.localfood_container{
	margin:50px 100px;	
}
.localfood_container_form{
	margin:auto auto;
    width :500px;
}
.fullwidth {
    width:500px;
}
.localfood_container_title h2{
	font-family:ok;
	background-color:#ebebea;
	padding:10px;
	text-align:center;
	font-size:22px;
	margin-bottom:50px;
	margin-top:0px;
}
.localfood-pagination{
	text-align:center;
}	
.localfood_form{
	width:340px;	
}
.darkbg li{
	color:#bfbfbf;
	background:#4c4c4c;	
	border:0;
	font-family:ok;
}
.center{
	margin:auto auto;
	text-align:center;
}
.login-input input{
	margin-bottom:5px;
	width:280px;
}
.localfood_font{
	font-family:ok;
}
.localfood_badge{
	background-color:#f6552f;
}
.localfood_myinfo{
	color:#333;	
	font-family:ok;
	line-height:30px;
}
.localfood_btnarea{
	background:#ebebea;	
}
.localfood_btnarea button:hover{
	background-color:#9522ff;
	color:#fff;
}
.myinfo{
	background-color:#aa4dff;
	margin:5px auto;
	border-color:#a9a9a9;
	color:#FFF;
}
.localfood-btn{
	background-color:#aa4dff;
	margin:5px auto;
	border-color:#a9a9a9;
	color:#FFF;
}
.localfood-btn:hover{
	background-color:#9522ff;
	color:#fff;
}
.localfood_alarm_title{
	color:#434445;
	font-size:15px;
	line-height:50px;
	height:50px;
	border-bottom:1px solid #eceef1;
}
.localfood_alarm{
	width:380px;
	height:390px;
	overflow:auto;	
}
.localfood_alarm_contents{
	border-bottom:1px solid #eceef1;
	height:80px;
	background-color:#fafafa;
	color:#6f6f6f;
	font-size:14px;
	line-height:25px;
	padding:15px;
	text-align:left;
	width:100%;
	position:relative;
}

.localfood_rightpop{
		top:30px;
}
.bold{
	color:#292929;
	font-weight:bold;
	font-size:15px;	
}
.date{
	color:#a5a5a5;
	font-weight:lighter;
}
.quantity{
	position:absolute;
	right:75px;	
	font-size:15px;
}
.colored{
	color:#f3370a;	
}
.localfood_alarm_btn
{
	position:absolute;
	float:right;
	top:25px;
	right:15px;
	width:42px;
	height:27px;
	line-height:27px;
	border:0px;
	background-color:#f66644;
	color:#FFF;
	border-radius:3px;
}
.btn_disabled{
	background-color:#a9a9a9;
}
.localfood_menu{
	width:400px;
	height:160px;
	background-color:#FFF;
	margin:auto auto;
	text-align:center;
	font-size:16px;
}
.localfood_menu span{
	display:inline-block;
	padding:20px;	
}
.localfood_menu img{
	margin-bottom:5px;	
}
.localfood_menu a{
	color:#333;
}
.localfood_menu a:hover{
	text-decoration:none;
}
.arrow-up {
	position:absolute;
	bottom:0px;
	left:45px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-bottom: 10px solid white;
}
.table-btn{
	position:relative;
}
.table-btn button{
	position:absolute;
	top:5px;
	left:0px;
	width:42px;
	height:27px;
	line-height:27px;
	border:0px;
	background-color:#f66644;
	color:#FFF;
	border-radius:3px;
}
.btn-disabled button{
	background-color:#a9a9a9;
}
.darkbg{
	background-color:#4c4c4c;	
}
.localfood_dropdown{
	background-color:#FFF;	
}
.localfood_dropdown li{
	background-color:#FFF;	
}
.localfood_container{
	margin:50px 100px;	
}
.localfood_container2{
	margin:0;
	padding:0;
	width:100%;	
	left:0px;
	top:110px;
	position:absolute;
	background-color:#4c4c4c;
}
.localfood_table{
	padding-top:50px;
}
.localfood_table_top{
	height:25px;
	line-height:25px;
	font-size:16px;
	display:inline;
	float:left;
	color:#d6d6d6;
}
.localfood_table_top_btn{
	display:inline;	
	float:right;
	margin-right:20px;
}
.localfood_add_table{
	width:290px;
	height:225px;
	background-color:#555555;
	text-align:center;
	padding-top:50px;
}
.localfood_item_menu{
	width:100%;
}
.localfood_item_list{
	border:1px solid #ededed;
	border-radius:5px;
	height:300px;	
	margin-top:10px;
	padding-top:10px;
	overflow-y:scroll;
}
.localfood_item_list li{
	background-color:#FFF;	

}
.items2{
	height:35px;
	line-height:35px;
	color:#4c4c4c;
	font-size:16px;
}
.localfood_product_info{
	font-family:ok;	
	margin:0;
	padding:0;
	font-size:14px;
}
.localfood_product_info h4{
	font-family:ok;	
	padding:0;
	margin-bottom:5px;
	font-size:16px;
}